
<input type="hidden" id="api-key" value="<%= current_user.api_key %>"/>

<!-- Sensors Index -->
<div id="sensors-index-base" class="sensors-index hidden">
  <ul class="nav nav-tabs">
    <li><a href="#" data-time-range="hourly">Hourly</a></li>
    <li><a href="#" data-time-range="daily">Daily</a></li>
    <li><a href="#" data-time-range="monthly">Monthly</a></li>
  </ul>
</div>

<!-- Alarms Index -->
<div id="alarms-index-base" class="alarm-index hidden"></div>
<script id="alarms-index-header-tmpl" type="text/x-handlebars-template">
  <a href="#" class="alarm-create-link btn btn-success pull-right">Create Alarm</a>
</script>

<!-- Alarm Form -->
<script id="alarms-form-tmpl" type="text/x-handlebars-template">
  <fieldset>
    <form>
      <h3>Things</h3>
    </form>
  </fieldset>
</script>

<!-- Camera Events Index -->
<div id="camera-events-index-base" class="camera-events-index hidden"></div>
<script id="camera-events-index-item-tmpl" type="text/x-handlebars-template">
  <div class="camera-events-index-item">
    <a class="download-link" href="{{event_recording_url}}" target="_blank">
        <span class="glyphicon glyphicon-cloud"></span><span class="location">{{location}}</span><span class="created-at">{{CreatedAt}}</span>
    </a>
  </div>
</script>

<!-- Cameras Index -->
<div id="cameras-index-base" class="cameras-index hidden"></div>
<script id="cameras-index-item-tmpl" type="text/x-handlebars-template">
  <div>
    <h2>{{name}}</h2>
    <img src="{{latest_snapshot_url}}" class="camera-thumbnail thumbnail"/>
  </div>
</script>

<!-- Sensor Index -->
<script id="sensors-index-item-tmpl" type="text/x-handlebars-template">
  <div class="row sensors-index-item">
    <div class="col-md-4 text-bit">
      <h2>{{name}}</h2>
      <span class="value">{{last_value data_points_hourly}}{{units}}</span>
      <a class="delete-link" data-for-sensor="{{id}}" href="/api/sensors/{{id}}">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
    <div class="col-md-8">
      <div class="chart-container">
        <svg style="height:190px;"></svg>
      </div>
    </div>
  </div>
</script>