<p>Welcome to my little data logger.  The API is undocumented at the moment; but you can basically make a post to /api/data_points to create information that will show up in this little data logger.</p>
<div class="row">
  <div class="col-md-6">
    <%= link_to "Register", new_user_registration_path, {class: "btn btn-primary"} %>
  </div>
  <div class="col-md-6">
    <%= link_to "Login", new_user_session_path, {class: "btn btn-success pull-right"} %>
  </div>
</div>