<div class="subnav-container">
  <%= link_to 'Delete', @alarm, method: :delete, class: 'btn btn-default' %>
</div>

<%= render partial: 'form', locals: { alarm: @alarm, alarm_types: @alarm_types, sensor_options: @sensor_options } %>