<h1>Edit Alarm <%= button_to "Delete", @alarm, :method=>:delete, :class=> "destroy btn btn-danger pull-right", :confirm => "Are you sure?" %></h1>
<% if @sensors.nil? %>
	<p>You need some sensors before you can create alarms!</p>
<% else %>
	<%= form_for @alarm, :url => {:action => 'update'} do |f| %>	
		<%= render :partial => "form", :locals => { 
			:f => f, 
			:sensors => @sensors,
			:trigger_types => @trigger_types
		} %>
	<% end %>
<% end %>