body {
}
h1,h2,h3,h4,h5 {
  font-family: 'Lobster', cursive;
}
h1 {
  font-size: 3em;
  color: #DFE4EE;
}
main {
  margin: 20px;
  overflow: hidden;
}
p {
  font-family: 'Roboto', sans-serif;
}

/*
  Main Content
*/
.main-content {
  float: left;
  padding: 0 0 0 50px;
}

/*
  Secondary Navigation
*/
.secondary {
  float: left;
  padding: 0 15px 0 15px;
  max-width: 300px;
}
.secondary {
}
.secondary > div:first-child {
  margin-top: 0;
}
.secondary > div {
  margin: 30px 0 10px 0;
}
.secondary h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
}
.secondary h3 {
  font-size: 0.85em;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
/*
  Main Content
*/
.main {
  float: left;
  max-width: 960px;
}

/*
  Sensor Readout - Horizontal
*/
.sensor-readout-horizontal {
  margin: 10px 0 10px 0;
  overflow: hidden;
  border-bottom: 1px solid #EBEBEB;
  padding: 5px 0 5px 0;
}
.sensor-readout-horizontal h3 {
  float: left;
  line-height: 1.5em;
}
.sensor-readout-horizontal .value {
  margin-left: 20px;
  float: right;
  font-weight: 300;
  padding: 4px;
  background-color: #0080FF;
  font-size: 0.85em;
  color: #FFF;
}