<h1>Comparison <%= link_to "Create", new_comparison_path, :class=> "btn btn-success pull-right" %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Sensors</th>			
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @comparisons.each do |comparison| %>
			<tr>
				<td><%= link_to comparison.title, comparison %></td>
				<td>					
					<ul>
						<% comparison.sensors.each do |sensor| %>
							<li>
								<%= sensor.name %>
							</li>
						<% end %>
					</ul>
				</td>
				<td>
					<%= link_to "Update", edit_comparison_path(comparison), :class=> "btn" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>