<h1>New Comparison</h1>
<% if @sensors.nil? %>
	<p>You need some sensors before you can create alarms!</p>
<% else %>
	<%= form_for @comparison, :url => {:action => 'create'} do |f| %>	
		<%= render :partial => "form", :locals => { 
			:f => f, 
			:sensors => @sensors
		} %>
	<% end %>
<% end %>