<h1>Edit Reporting Dashboard <%= button_to "Delete", @reporting_dashboard, :method=>:delete, :class=> "destroy btn btn-danger pull-right", :confirm => "Are you sure?" %></h1>
<% if @sensors.nil? %>
	<p>You need some sensors before you can create alarms!</p>
<% else %>
	<%= form_for @reporting_dashboard, :url => {:action => 'update'} do |f| %>	
		<%= render :partial => "form", :locals => { 
			:f => f, 
			:sensors => @sensors
		} %>
	<% end %>
<% end %>