<h1><%= @reporting_dashboard.title %></h1>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% @reporting_dashboard.sensors.each do |sensor | %>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart']});
    </script>
    <div id="chart-container" 
         data-sensor-id="<%= sensor.id %>"
         data-sensor-name="<%= sensor.name %>"
         data-sensor-units="<%= sensor.data_points.last.units %>" 
         class="sensor-chart-container"></div>
<% end %>