<h1><%= @reporting_dashboard.title %></h1>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<div 
     data-sensor-id="<%= @sensor_ids %>"
     data-sensor-name="<%= @sensor_names %>"
     data-sensor-units="<%= @sensor_units %>" 
     class="sensor-chart-container"></div>
