<header class="masthead">
    <div class="inner">
        <h1>Monocle</h1>
        <p>A dirt simple application to log your data and show it on a little graphsies.</p>
        <p class="download-info">
            <%= link_to "Create an Account", new_user_registration_path, :class => "btn btn-primary btn-large" %>
            <%= link_to "Login", new_user_session_path, :class => "btn btn-large" %>
        </p>
    </div>
</header>
