<table class="graph-table">
  <tr>
      <% @data.each do |datum| %>
        <td>
          <span class="h-axis-legend">
            <%= human_value(datum[1]) %><%= @sensor.units %><br/>
            <% ((datum[1]/@maximum)*100).to_i.times do %>
              #<br/>
            <% end %>
            <%= datum[0].strftime("%H:%m") %>
          </span>
        </td>
      <% end %>
  </tr>
</table>
