<div class="container-title">
  <div class="pull-right">
    <%= link_to 'Edit', edit_sensor_path(@sensor), class: 'btn btn-default' %>
  </div>
  <h2><%= @sensor.group.name %> / <%= @sensor.name %></h2>
</div>

<canvas id="chart-container" data-sensor-id="<%= @sensor.id %>"></canvas>

