/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


h1 .btn {
	margin-top:5px;
}
footer {
    color: #eeeeee;
    font-weight:bolder;
	margin-top:50px;
	text-align: right;
}
header.masthead {
	text-align:center;
}
/******************************************************************************
    Main Content Wrapper
 ******************************************************************************/
.main-wrapper {
    margin: 80px auto;
    max-width:960px;
}


/* FORMS */
.checkbox-container {
    overflow: hidden;
}
.checkbox-container label {
    line-height: 20px;
}
.checkbox-container input[type="checkbox"] {
    float:left;
    width:25px;
}

/******************************************************************************
	Basic Form Styling
 ******************************************************************************/
li.form-checkbox-container label {
	margin-left: 15px;
	width: auto;
}
.form-horizontal li {
	clear:both;
	display:block;
	margin: 15px;
	overflow: hidden;
}
.form-horizontal label {
	float:left;
	width: 120px;
}
.form-horizontal input {
	float: left;
}
.form-horizontal select {
	float: left;
}
.form-horizontal .button-container {
	padding-left: 120px;
}

/******************************************************************************
    Camera Events
 ******************************************************************************/
.camera-events a:visited {
    color: #cecece;
}

/******************************************************************************
    Camera Listing
 ******************************************************************************/
ul.camera-listing {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
ul.camera-listing li {
    float: left;
    margin: 5px;
}
ul.camera-listing h2 {
    color: white;
    display: inline;
    font-size: 1.5em;
    margin:15px;
    position: absolute;
    text-align: center;        

    text-shadow: 3px 1px 1px black;
}
ul.camera-listing img {
    width: 480px;
}
/******************************************************************************
    Sensors Charts
 ******************************************************************************/
 .sensor-chart-container {
    margin-bottom: 15px;    
    width: 100%;
 }
 /******************************************************************************
    Sensors Dashboard
 ******************************************************************************/
ul.sensors-dashboard {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
}
.sensors-dashboard h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}
.sensors-dashboard li {
    background-color: #fff;
    color: black;
    float: left;
    height: 128px;
    margin: 5px;
    padding: 15px;
    width: 230px;
}
.sensors-dashboard .data-container {
    text-align: center;
}
.sensors-dashboard .value-container {
    font-weight: bolder;
    font-size: 1.6em;
}
/******************************************************************************
    Sensors Listing
 ******************************************************************************/
 table.sensors-listing td {
    padding: 16px;
 }

/* SENSORS */
.sensor-big-display {
	text-align: center;
	font-size:20em;
	font-weight:bold;
	line-height:1.5em;
}
.sensor-big-display span {
	text-decoration: none;  
   
    text-shadow: none;  
    -webkit-transition: 500ms linear 0s;  
    -moz-transition: 500ms linear 0s;  
    -o-transition: 500ms linear 0s;  
    transition: 500ms linear 0s;  
    outline: 0 none;  
}
.sensor-big-display span.glowing {
	 text-shadow: -1px 1px 15px #90ff00, 1px -1px 15px #90ff00;  
}
.sensor-big-display aside {
	font-size:12px;
	line-height:13px;
}
.sensor-green-display {
	background-color: #000;
	color: #00ff1e;
	font-family: 'OCR A Std';
}

/******************************************************************************
    Phone Specific Display
 ******************************************************************************/
 @media screen and (max-width: 780px) {
    .main-wrapper {
        margin: 0 25px;
    }

    h1 {
        display: none;
    }
    table.sensors-listing td {
        padding: 10px 0 10px 5px;
    }
    table.sensors-listing .last-value {
        /*font-size:1.5em;*/
        font-weight: bolder;
    }
    table.sensors-listing .last-updated {
        display: none;
    }
    table.sensors-listing .todays-average {
        display: none;
    }
    .small-screen-hide {
        display: none;
    }
}