header {
  line-height: 0.86em;
  margin: 25px auto;  
  max-width: 647px;
  overflow: hidden;
  padding-left: 15px;
}
header h1 .byline {
  color: #00aa00;
  font-weight: lighter;
}
h2 {
  margin: 0 0 6px;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 13px;
  font-weight:bolder;
  color: #999;
}
#content-container {
  margin-top: 35px;
  max-width:647px;
}
.alert {
  margin-bottom: 45px;
  margin-top: 15px;
}
.camera-events-index {
  margin-bottom: 35px;
}
.camera-events-index .created-at {
  color: #cecece;
  font-weight: bolder;
  margin-left: 35px;
}
.camera-events-index .download-link:visited {
  color: #cecece;
}
.camera-events-index .location {
  font-weight: bolder;
  margin-left: 35px;
}
.camera-events-index .delete-link {
  display: block;
  margin: 15px;
}
.camera-events-index-item {
  margin: 15px auto;
  max-width: 400px;
}
.cameras-index {
  clear: both;
  margin-bottom: 35px;
  overflow: hidden;
}
.cameras-index > div {
  float: left;
  margin: 15px;
  text-align: center;
}
.constrain {
  overflow: hidden;
}
.top-navigation a {
  margin-left: 15px;
}
.sensors-index .nav-tabs {
  clear:both;
  margin-bottom: 15px;
}
.sensors-index-item {
  border-bottom: 2px solid #cec;
  margin-bottom: 15px;
}
.sensors-index-item .text-bit {
  padding-top: 50px;
}
.sensors-index-item .value {
  line-height: 0.7;
  color: #333;
  font-size: 52px;
  font-weight: bolder;
}
.state-changes-wrapper {
  height:150px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding:0 15px 0 15px;
}
.state-changes.table {
  margin-bottom: 0;
}
.subnav-container {
  margin-bottom: 25px;
  overflow: hidden;
}
.subnav-container > * {
  float:right;
}
