<!DOCTYPE html>
<html>
<head>
  <title>Monocle</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/screen.css" />
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <script type="text/javascript" src="/assets/javascripts/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/application.js"></script>
</body>
</html>
